name: CI

on:
  push:
    branches: ["master"]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install UV
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.7.15"

    - name: Set up Python
      run: uv python install

    - name: Install dependencies
      run: uv add allure-pytest

    - name: Build Docker images
      run: docker compose -f docker-compose.yml build

    - name: Run test container
      run: |
        docker compose -f docker-compose.yml up -d

        echo "Waiting for test container to finish..."
        docker compose wait test-runner || true
      continue-on-error: true

    - name: Show test logs
      if: always()
      run: |
        echo "test-runner logs:"
        docker compose logs test-runner || echo "No logs for test-runner"

    - name: Load test report history
      uses: actions/checkout@v4
      if: always()
      continue-on-error: true
      with:
        ref: gh-pages
        path: allure-results-data

    - name: Build test report
      uses: simple-elf/allure-report-action@v1.7
      if: always()
      with: 
        gh_pages: allure-results-data
        allure_results: allure-results
        allure_history: build/allure-history

    - name: Publish test report
      uses: peaceiris/actions-gh-pages@v3
      if: always()
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: build/allure-history
    
    - name: Tear down
      if: always()
      run: docker compose down
      